<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="dropdown pc-h-item header-user-profile" style="width: 5;height: 5;" ngbDropdown>
        <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="javascript:" ngbDropdownToggle>
          <span><i class="ti ti-settings"></i></span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4>Good Morning</h4>
            <p class="text-muted">Project Admin</p>
            <hr/>
            <a (click)="logout()" style="cursor: pointer;" class="dropdown-item">
              <i class="ti ti-logout"></i>
              <span>Logout</span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
