.me-0 {
  margin: 0 0 0 16px !important;
}


.pc-head-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

// .user-avtar {
//   border-radius: 50%;
//   width: 40px;
//   height: 40px;
// }

.dropdown-menu {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 20;
  height: 20;
}

.dropdown-header h4 {
  margin: 0;
  font-size: 18px;
}

.dropdown-header p {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #6c757d;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item i {
  font-size: 16px;
}
