
   
<form *ngIf="food" (ngSubmit)="updateFood()">
  <div>
    <label for="titleEn"> product title E</label>
    <input [(ngModel)]="food.title.en" id="titleEn" name="titleEn" placeholder="Title (English)" required>
  </div>
  <div>
    <label for="titleAr">product title A</label>
    <input [(ngModel)]="food.title.ar" id="titleAr" name="titleAr" placeholder="Title (Arabic)" required>
  </div>
  <div>
    <label for="category">product category</label>
    <input [(ngModel)]="food.category" id="category" name="category" placeholder="Category" required>
  </div>
  <div>
    <label for="descriptionEn">product description E</label>
    <textarea [(ngModel)]="food.description.en" id="descriptionEn" name="descriptionEn" placeholder="Description (English)"
        required></textarea>
  </div>
  <div>
    <label for="descriptionAr">product description A</label>
    <textarea [(ngModel)]="food.description.ar" id="descriptionAr" name="descriptionAr" placeholder="Description (Arabic)"
        required></textarea>
  </div>
  <div>
    <label for="sizeTitleEn">size title E</label>
    <input [(ngModel)]="food.size[0].title.en" id="sizeTitleEn" name="sizeTitleEn" placeholder="Size Title (English)" required>
  </div>
  <div>
    <label for="sizeTitleAr">size title A</label>
    <input [(ngModel)]="food.size[0].title.ar" id="sizeTitleAr" name="sizeTitleAr" placeholder="Size Title (Arabic)" required>
  </div>
  <div>
    <label for="price">price</label>
    <input [(ngModel)]="food.price" id="price" name="price" placeholder="Price" required type="number">
  </div>
  <div>
    <label for="image">image</label>
    <input [(ngModel)]="food.image" id="image" name="image" placeholder="Image URL" required>
  </div>
  <div>
    <label for="imageWithCombo">image with combo</label>
    <input [(ngModel)]="food.imageWithCombo" id="imageWithCombo" name="imageWithCombo" placeholder="Image with Combo URL" required>
  </div>
  <button type="submit">Update</button>


</form>
