<div class="product-grid">
    <div *ngFor="let food of foods" class="product-item">
      <h3>{{ food.title.en }} / {{ food.title.ar }}</h3>
      <p>{{ food.category }}</p>
      <img [src]="food.image" alt="{{ food.title.en }}" class="img-container">
      <div *ngFor="let size of food.size">
        <p>{{ size.title.en }} / {{ size.title.ar }} - {{ size.price | currency }}</p>
      </div>
      <button (click)="editFood(food)">Edit</button>
      <button (click)="deleteFood(food.title.en)">Delete</button>
    </div>
  </div>
  
  
  
