
<<<<<<< HEAD
.logo{
    width: 200px;
    height: 70px;
    background-color: #000000;
    margin-right: 10px;
=======
.m-header{
    background-color: rgb(216, 180, 180); 
    padding: 10px;
    z-index: -1;
 
>>>>>>> 690446277fe0cbcd2d4b99a4beea3fd400a70d7d
}