
// >>>>>head<<<<<<<
.logo{
    width: 200px;
    height: 70px;
    background-color: rgb(28 28 27);
    margin-right: 10px;
}
.m-header{
    background-color: rgb(28 28 27); 
    padding: 10px;
    z-index: -1;
 
}